.container{
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 10%;
    top: 0px;
    left: 0px;
    background-color: #216320;
    position :absolute;
    

}
.head .image{
    margin-left: 150px;
    position: absolute;
    width: 225px;
    height: 40px;
    margin-top: 10px;
    
}

.head .navbar li{
    list-style-type: none;
    display: inline;
  
    color: white;
    padding: 13px;
    
}
.head ul {
    margin-left: 600px;
    margin-top: 15px;
    position: absolute;
}
.body{
    
    height: 540px;
    background-color: white;
    width: 100%;
    padding-top: 10px;
}
.body .leftb{
    padding-left: 150px;
    position: absolute;
    padding-top: 0px;
    width: 20%
}
.body .contact{
    text-align:center;
    padding-top: 50px;
}
.body .rightb{
    padding-left: 700px;
    
}
.body .rightb input,textarea{
    width: 350px;
    padding: 10px;
    border-spacing: 20px;
    position: relative;
    letter-spacing: 120px;
}

.main{
    background-color: whitesmoke;
    height: 350px;
    width: 100%;
}
.main .leftpa{
    padding-left: 60px;
    padding-top: 10px;
    position: absolute;
}
.main .cenpa{
    padding-left: 500px;
    padding-top:10px;
    position: absolute;
    width: 25%;
    height
}
.main .rightpa{
    position: absolute;
    padding-left:1000px;
    padding-top:10px;
}
.footer{
    text-align: center;
    background-color: #216320;
    height: 34px;
}