.container{
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 10%;
    top: 0px;
    left: 0px;
    background-color: #216320;
    position :absolute;
    

}
.head .image{
    margin-left: 150px;
    position: absolute;
    width: 225px;
    height: 40px;
    margin-top: 10px;
    
}

.head .navbar li{
    list-style-type: none;
    display: inline;
  
    color: white;
    padding: 13px;
    
}
.head ul {
    margin-left: 600px;
    margin-top: 15px;
    position: absolute;
}
.body{
    
    height: 570px;
    background-color: white;
    width: 100%;

}
.body .list{
    position: absolute;
    padding-left: 50px;
    padding-top: 0px;
    width: 30%;
  
}
.body  h1{
    text-align: center;
    padding-top:50px ;
}
.body .bodyimage {
    padding-left:550px ;
    padding-right: 77px;
    padding-top: 0px;
    

}
.body .bodyimage img{
    width: 90%;
    height: 35%;
    padding: 10px;
    border: solid;
    border-color: seashell;
}
.main{
    background-color: whitesmoke;
    height: 350px;
    width: 100%;
}
.main .leftpa{
    padding-left: 60px;
    padding-top: 10px;
    position: absolute;
}
.main .cenpa{
    padding-left: 500px;
    padding-top:10px;
    position: absolute;
    width: 25%;
    height
}
.main .rightpa{
    position: absolute;
    padding-left:1000px;
    padding-top:10px;
}
.footer{
    text-align: center;
    background-color: #216320;
    height: 34px;
}